[build]
target = "aarch64-unknown-none"

[target.aarch64-unknown-none]
rustflags = [
    "-C", "link-arg=-Tarch/aarch64/linker.ld",
    "-C", "relocation-model=static",
    "-C", "link-arg=--whole-archive",
    "-C", "link-arg=-lboot",
    "-C", "link-arg=--no-whole-archive",
]

[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]
